version: "3.9"

services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: development
      NEXT_TELEMETRY_DISABLED: "1"
      WATCHPACK_POLLING: "true"
      CHOKIDAR_USEPOLLING: "true"
      PORT: "3001"
    env_file:
      - .env
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - next_cache:/app/.next

volumes:
  node_modules:
  next_cache:
